<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="3"> </ion-col>
            <ion-col size="6" class="center title">
                <ion-text color="dark"> {{'metronome.main.title' | translate }} Info </ion-text>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-fab-button (click)="modalController.dismiss()" class="action-button" color="ruby">
                    <ion-icon name="close"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card class="tile-light" style="margin-top: 0;">
        <ion-card-header>
            <ion-card-title color="dark">
                {{'metronome.info.card1.what' | translate }}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{'metronome.info.card1.text' | translate }}
        </ion-card-content>
    </ion-card>

    <ion-card class="tile-light">
        <ion-card-header>
            <ion-card-title color="dark">
                {{'metronome.info.card2.how' | translate }}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <ion-card-subtitle>{{'metronome.info.card2.tempo' | translate }}</ion-card-subtitle>
            <ion-text>
                {{'metronome.info.card2.tempo-text' | translate }}
            </ion-text>

            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light"
                            style="border: 3px solid var(--ion-color-ruby);" disabled>
                            120
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.bpm' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.bpm-text' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-ruby" disabled>
                            {{'TAP'}}
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.tap' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.tap-text' | translate }}
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-card-subtitle>{{'metronome.info.card2.training' | translate }}</ion-card-subtitle>
            <ion-text>
                {{'metronome.info.card2.training-text' | translate }}
            </ion-text>

            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-ruby" disabled>
                            <ion-icon size="large" name="trending-up"></ion-icon>
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.start' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.start-text' | translate }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light"
                            style="border: 3px solid var(--ion-color-ruby);" disabled>
                            160
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.final' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.final-text' | translate }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light"
                            style="border: 3px solid var(--ion-color-ruby);" disabled>
                            10
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.step' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.step-text' | translate }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light"
                            style="border: 3px solid var(--ion-color-ruby);" disabled>
                            4
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.measures' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.measures-text' | translate }}
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-card-subtitle>{{'metronome.info.card2.customize' | translate }}</ion-card-subtitle>
            <ion-text>
                {{'metronome.info.card2.customize-text' | translate }}
            </ion-text>

            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light"
                            style="border: 3px solid var(--ion-color-ruby);" disabled>
                            4
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.beats' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.beats-text' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button" color="secondary" disabled>
                        </ion-fab-button>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.color' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.color-text' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="4" class="center">
                        <ion-fab-button class="action-button tile-light" disabled>
                            <ion-icon size="large" src="assets/instruments-icons/woodblock.svg"
                                style="fill: var(--ion-color-medium);">
                            </ion-icon>
                        </ion-fab-button>

                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle> {{'metronome.info.card2.sound' | translate }} </ion-card-subtitle>
                        {{'metronome.info.card2.sound-text' | translate }}
                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-card-content>
    </ion-card>

    <explain-buttons [buttons]="buttons" [context]="'metronome'"></explain-buttons>

</ion-content>
