<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="3"> </ion-col>
            <ion-col size="6" class="center title">
                <ion-text color="dark"> Metonome Info </ion-text>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-fab-button (click)="modalController.dismiss()" class="action-button" color="ruby">
                    <ion-icon name="close"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card class="tile-light">
        <ion-card-header>
            <ion-card-title color="dark">
                What is Metonome?
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Metonome is a free Metronome and polyrhythm generator.
        </ion-card-content>
    </ion-card>

    <ion-card class="tile-light">
        <ion-card-header>
            <ion-card-title color="dark">
                How to use it?
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>SELECT</ion-card-subtitle>
            <ion-text>
                You can select a tonic and then filter by quality, grade or simply type the chord symbol in the
                searchbar.
            </ion-text>

            <ion-card-subtitle>FIND</ion-card-subtitle>
            <ion-text>
                All the chords found with the selected filters will be displayed.
                Click on a chord to see all its traits and infos.
            </ion-text>

        </ion-card-content>
    </ion-card>

    <explain-buttons [buttons]="buttons"></explain-buttons>

</ion-content>
