.bpmNumber {
    width: 25vmin;
    height: 25vmin;

    border: 3px solid var(--ion-color-ruby);

    font-size: x-large;
    --color: var(--ion-color-dark);
}

.side-text {
    color: var(--ion-color-dark);
    font-size: large;
    margin-left: 1rem;
}

.track {
    border: 3px solid var(--ion-color-salmon);
    border-radius: 15px;

    background-color: var(--ion-color-light);
    --background: var(--ion-color-light);

    margin-top: 1rem;
}